@font-face {
  font-family: "ProtestRevolution";
  src: url(../font/ProtestRevolution-Regular.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../font/Allura-Regular.ttf);
}

$font1: ProtestRevolution, sans-serif;
$font2: Allura, sans-serif;
$color1: rgb(3, 7, 32);
$color2: linear-gradient(
  to right,
  rgba(123, 46, 236, 1) 0%,
  rgba(9, 71, 121, 1) 50%,
  rgba(0, 212, 255, 1) 100%
);
$color3: rgb(0, 110, 255);
$white: white;

@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space; // Vous devez préfixer avec "space-"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: $font2;
  background: $color1;
}
